
--link-folder "/Users/lukasimrich/Library/Application Support/Framer Beta/yarn-link-folder"
disable-self-update-check true
yarn-path "/Applications/Framer Beta.app/Contents/Resources/Server/lib/framerYarn.js"
